/*
    ------------------------
    ------- Profile --------
    ------------------------
*/

.profile{

    // Mobile Styles

    position: relative;
    text-align: center;
    background-color: var(--color-profile-bg-light);
    padding: var(--space-lg) var(--space-md) var(--space-3xl);
    overflow-x: hidden;
    overflow-y: visible;

    &__img{
        margin: 0 auto var(--space-sm);
        width: 96px;
        height: 96px;
        border-radius: 50%;
        border: 2px solid var(--color-rapture-blue-light);
    }

    &__toggle{
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: var(--color-profile-btn-bg-open);
        position: absolute;
        left: 0;
        right: 0;
        bottom: calc((56px / 2) * -1);
        margin: 0 auto;

        &::before{
            content: '';
            width: 16px;
            height: 16px;
            background-image: url(../../../images/icon-cross.svg);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
        }
    }

    &__hidden-container{
        background-color: var(--color-profile-bg-dark);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 100%;
        bottom: 0;
        padding: var(--space-lg) var(--space-md) var(--space-3xl);

        .heading{
            margin-bottom: var(--space-xs);
        }

        .social{
            justify-content: center;
        }
    }

    &__quote{
        margin-bottom: var(--space-md);
    }

}