/*
    ------------------------
    -------- About ---------
    ------------------------
*/

.main{
    &--about{
        .about,
        .directors,
        .clients,
        .cta{
            position: relative;
        }


        // Mobile Styles
        .shape{
            position: absolute;
            
            &--about-1{
                right: 0;
                bottom: 0;
            }

            &--about-2{
                top: 0;
                left: 0;
            }

            &--about-3{
                right: 0;
                bottom: 0;
            }

            &--about-4{
                top: 0;
                left: 0;
            }

            &--about-5{
                left: 0;
                bottom: 0;
            }
        }
    }
}