/*
    ------------------------
    -------- Contact -------
    ------------------------
*/

.main{
    &--contact{
        .contact{
            position: relative;
        }


        // Mobile Styles
        .shape{
            position: absolute;
            
            &--contact-1{
                display: none;
            }

            &--contact-2{
                right: 0;
                bottom: 0;
            }
        }

        // Tablet Styles
        @include breakpoint-up(medium){
            .shape{
                &--contact-1{
                    display: block;
                    top: 0;
                    left: 0;
                }
            }
        }

        // Desktop Styles
    }
}